<!DOCTYPE html>
<html lang="en" data-theme="coffee">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoptohlejepeta testting</title>
    <link href="static/css/app.css" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto pt-5">
        <div class="mockup-browser border bg-base-300">
            <div class="mockup-browser-toolbar">
                <div class="input">https://yoptohlejepeta.github.io</div>
            </div>
            <div class="flex flex-col items-center px-4 py-16 bg-base-200">
                <h1 class="text-9xl">
                    Hello World
                </h1>
                <div class="avatar">
                    <div class="w-24 rounded-full border-white border-2">
                        <img src="https://avatars.githubusercontent.com/u/101563288?v=4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto pt-5">
        {{ plot | safe}}
    </div>
</body>
</html>