<!DOCTYPE html>
<html lang="en" data-theme="custom">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAG • Výkazy</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="static/css/app.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar bg-slate-900 text-white"> 
            <div class="flex-none">
              <label for="my-drawer" class="btn btn-square btn-ghost drawer-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
              </label>
            </div>
            <div class="flex-1">
              <a class="btn btn-ghost text-xl">STAG • Výkazy</a>
            </div>
            <div class="flex-none">
              <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                  <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </div>
    </header>
  <div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">

    <main class="container mx-auto py-6">
      <!-- CONTENT -->
      <h1 class="text-5xl font-bold py-4">
        Výkazy vyučujících</h1>

      <form hx-post="/table?wscookie={{ticket}}" hx-target="#table-content" class="p-4" hx-indicator="#loading">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Vyučující</span>
          </label>
          <input type="text" name="idnos" placeholder="Vyučující..." class="input input-bordered input-primary input-md w-full" />
        </div>
        <div class="form-control">
          <button type="submit" class="btn btn-square btn-primary mt-3 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
          </button>
        </div>

      </form>


      <div id="table-content" class="overflow-x-auto mx-auto py-10">
      </div>

    </main>
    </div> 
    <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
          <!-- Sidebar content here -->
          <li><a>Výkazy</a></li>
          <li><a>Vyhledat vyučujícího</a></li>
          
        </ul>
      </div>
</div>

<!-- <footer class="footer footer-center p-4 bg-neutral fixed bottom-0 text-neutral-content">
  <aside>
    <p>
      2024, STAG • Výkazy V2
    </p>
  </aside>
</footer> -->
      
</body>
</html>