<!DOCTYPE html>
<html lang="en" data-theme="streamlit">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAG • Výkazy</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="static/css/app.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="hero min-h-screen">
            <div class="hero-content text-center">
              <div class="max-w-md">
                 <img class="mx-auto w-150" 
                 src="static/images/app_logo.png">
                <p class="py-3">Aplikace pro generování výkazů.</p>
                <a role="button" href={{ login_url }} class="btn btn-primary">Přihlásit
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                  </svg>                      
                </a>
              </div>
            </div>
          </div>
    </main>
</body>
</html>