<!DOCTYPE html>
<html lang="en" data-theme="custom">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAG • Výkazy</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="static/css/app.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="hero min-h-screen">
            <div class="hero-content text-center">
              <div class="max-w-md">
                 <img class="mx-auto w-150" 
                 src="static/images/app_logo.png">
                <p class="py-3">Aplikace pro generování výkazů.</p>
                <a role="button" href={{ login_url }} class="btn btn-primary">Přihlásit se</a>
                </a>
              </div>
            </div>
          </div>
    </main>
</body>
</html>